/* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-55%);
      opacity: 25%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
} */

/* @keyframes slideInFromRight {
    0% {
        transform: translateX(55%);
        opacity: 25%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
} */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.header-bar{
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: #23304e;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 1px 10px;
    align-items: center;
    font-family:source-code-pro;
    font-weight: 500;
    color: #f0f8ff;
    justify-content: space-between;
}
.header-bar div{
    padding-left: 4%;
    padding-right: 4%;
}
#title{
    font-size: 1.6rem;
    /* animation: .8s ease-out slideInFromLeft; */
}
/* .nav-menu{
    animation: .9s ease-out slideInFromRight;
} */
.menu-item{
    padding: 0 10px;
    font-size: 1rem;
    display: inline;
}
.menu-item a:hover{
    color: rgba(184, 233, 255, 0.959);
}
.menu-item a{
    color: #f0f8ff;
    transition: all 0.3s ease-out;
}
.mobile-menu{
    height: fit-content;
    background-color: #23304e;
    list-style: none;
    width: fit-content;
    padding: 25px;
    margin-top: -10px;
}

.m-nav-dropdown{
    position: absolute;
    width: 100%;
    right:0px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    flex-direction: column;
    padding-inline-start: 0;
    background-color: #23304e;
    padding: 12px 7px;
     box-shadow: rgba(0, 0, 0, 0.404) 0px 8px 10px -8px;
     height: auto;
    transition: all 1s ease;
}

.menu-item{
    font-size: 1.5rem;
}