@import url("https://use.typekit.net/zdy8vqg.css");

.App {
  text-align: center;
  background-color: rgb(41, 58, 85);
  min-height: 100vh;
  max-height: 100%;
}
.header{
  position: fixed;
}
a{
  text-decoration: none;
}
::selection{
  background-color: #ffcf9d;
  color: #212a49;
}